(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("top/top_waves.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "tb_bmi_chip_top",
                "dut",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "spi_miso",
                    id: Wellen((42)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "spi_miso",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "adc_valid",
                    id: Wellen((33)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "adc_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "packet_ready",
                    id: Wellen((46)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "packet_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "clk",
                    id: Wellen((34)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "spi_cs_n",
                    id: Wellen((39)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "spi_cs_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "adc_sample",
                    id: Wellen((32)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "adc_sample [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "mlp_done",
                    id: Wellen((48)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "mlp_done",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "packet_data",
                    id: Wellen((47)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "packet_data [79:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "adc_channel",
                    id: Wellen((31)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "adc_channel [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "packet_valid",
                    id: Wellen((45)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "packet_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "window_ready",
                    id: Wellen((41)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "window_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "predicted_class",
                    id: Wellen((44)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "predicted_class [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "sbp_done",
                    id: Wellen((43)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "sbp_done",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "decision_valid",
                    id: Wellen((49)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "decision_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_bmi_chip_top",
                            "dut",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "spi_sclk",
                    id: Wellen((40)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "spi_sclk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 15,
        viewports: [
            (
                curr_left: (-0.0029005926512645614),
                curr_right: (0.014375836292728263),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            36510906,
        ])),
        markers: {},
        focused_item: None,
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)